
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>
<script src="/vendor/counterup/counterup.min.js"></script>
<script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/superfish/superfish.min.js"></script>
<script src="/vendor/hoverIntent/hoverIntent.js"></script>
<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/vendor/venobox/venobox.min.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/js/main.js"></script>

<script>
var active = 0;
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href === document.URL) {
        active = i;
    }
}
document.links[active].style.color = "#FFFFFF";
function high(){
    document.getElementById("fornav").css("color","#ffffff");
}

function clear(){
    document.getElementById("fornav").css("color","#2dc997")
}


</script>
</body>
</html>