<%- include ('partials/header.ejs') %>
<form method= "POST" action="/comment">
  <input type="text" name = "comment[Author]" placeholder="Author">
  <input type= "text" name = "comment[Comment]" placeholder="Comment">
  <input type = "submit" value = "Comment!">
</form>
<%- include ('partials/footer.ejs') %>