<%- include ('partials/header.ejs') %>
      <h1>StayMinute</h1>
          <ul><% if(currentUser){ %>
            <h3>Welcome, <%= currentUser.name %></h3>
            <%}%>
          </ul>
      <form action="/search" method = "POST">
        <input type = "text" name = "city" placeholder="Location">
        <input type = "submit" value="Search">
      </form>
<%- include ('partials/footer.ejs') %>
