<%- include ('partials/header.ejs') %>

  <ul><% if(currentUser){ %>
    <h3>Welcome, <%= currentUser.name %></h3>
    <%}%>
  </ul>
<div class="container">
  <center>
  <form action="/search" method = "POST" class="frm1">
    <div class="form-group input-group">
      <input class="form-control" type = "text" name = "city" placeholder="Location">
      <div class="form-group">
        <input class="button form-control" type = "submit" value="Search">
      </div>
    </div>
  </form>
  </center>
</div>
<%- include ('partials/footer.ejs') %>
