<%- include ('partials/header.ejs') %>

  <ul><% if(currentUser){ %>
    <h3>Welcome, <%= currentUser.name %></h3>
    <%}%>
  </ul>
<div class="container">
  <center>
  <form action="/search" method = "POST" class="frm1">
    <div class="form-group input-group">
      <input class="form-control" type = "text" name = "city" placeholder="Location" id="input">
      <div class="form-group">
        <button class="form-control button" id="butn"><i class="fa fa-search" aria-hidden="true"></i> search</button>
      </div>
    </div>
  </form>
  </center>
</div>

<%- include ('partials/footer.ejs') %>


