<%- include ('partials/header.ejs') %>
<h1>Stay Minute</h1>
<p>-Spends some minutes with us!</p>
<a href="/index">Home</a>
<div>
    <p>Register your Hotel and <a href="/Radmin">Become a Family member!</a></p>
</div>
<%- include ('partials/footer.ejs') %>