<%- include ('partials/header.ejs') %>
        <h1>Register Hotel!</h1>
        <form method = "POST" action="/Radmin">
        <input type = "text" name = "name" placeholder="Hotel Name" value = "Shiv sagar">
        <input type = "text" name = "owner" placeholder="Owner Name" value = "Mahapurush">
        <input type = "number" name = "no_of_rooms" placeholder = "Number of Rooms" value="15">
        <input type = "text" name = "location" placeholder = "Location" value = "Mumbai">
        <input type = "text" name = "city" placeholder = "City" value="Mumbai">
        <input type = "text" name = "image" placeholder = "imageUrl" value="ieryfygrgyr.jpg">
        <input type = "text" name = "phone" placeholder = "Phone Number" value = "1112122323">
        <input type = "text" name = "description" placeholder = "Description" value = "uhhhhuhuhuueuhuhu uhhuuhuhuuh">
        <input type = "text" name = "username" placeholder="Email address" value="uhhuhuuhuiu">
        <input type = "password" name="password" placeholder = "password" value="ij9ebiiibii">
        <input type = "submit" value = "Submit">
        </form>
<%- include ('partials/footer.ejs') %>
