<%- include ('partials/header.ejs') %>
     
<div class="container">
    <center>
        <div class="img-thumbnail frm">
    <h1>Signup</h1>    
        <form method="POST" action="/signup">
            <div class="form-group">
                <input type = "text" name = "name" placeholder = "Name" class="form-control">
            </div>
            <div class="form-group">
                <input type = "number" name = "age" placeholder = "Age" class="form-control">
            </div>
            <div class="form-group">
                <input type = "text" name = "contact" placeholder = "contact details" class="form-control">
            </div>
            <div class="form-group">
                <input type = "text" name="username" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <input type = "password" name="password" class="form-control" placeholder = "Password">
            </div>
            <div class="form-group">
                <input type = "submit" class="form-control button" value = "signup">
            </div>
        </form>
    </div>
    </center>
    
    </div>
<%- include ('partials/footer.ejs') %>


